body {
	background: url('img/79gVnGo') #222 no-repeat center center fixed;
	-webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
}

#container {
	margin: 0 auto;
	width: 600px;
	height: 600px;
	margin-top: 50px;
}